body {
    background-color: antiquewhite;
}

section {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}


#top {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

#bottom {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}